{% extends 'ReleaseBundle:Default:base.html.twig' %}
{% block content %}
{% set userId = app.user.id %}
<div id="modal" title="Summary" style="display: none;">
    <div id="modal-content"></div>
    <br>
    <button class="btn btn-info center-block" id="btn-publicar">	
        Publish
    </button>
</div>
<div id="tabs">
    <ul>
        {% for dataCenter in dataCenters %}
        <li><a href="#tabs-{{ dataCenter.id }}">{{ dataCenter.name }}</a></li>
        {% endfor %}
        
    </ul>
    {% for dataCenter in dataCenters %}
    <div id="tabs-{{ dataCenter.id }}">
        <h3>{{ release }}</h3>
        <h4>{{ dataCenter.name }}</h4>
        <table class="table table-hover table-bordered table-striped" style="background-color: white">
            <tr>
                <th>N.</th>
                <th>Code</th>
                <th>Name</th>
                <th>Owner</th>
                <th>#</th>
                <th class="options">Revision</th>
            </tr>
            {% for story in stories %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ story.code }}</td>
                <td><a href="{{ story.rallyUrl }}" target="_blank">{{ story.name }}</a></td>
                <td>{{ story.owner }}</td>
                <td><span class="review" id="review_{{ dataCenter.id }}_{{story.id}}">
                        {{ story.getReviews(dataCenter.id) }}
                    </span></td>
                <td>
                    <button 
                        id="btn-leave"
                        class="btn btn-danger btn-action" 
                        data-story-id="{{ story.id }}" 
                        data-user-id="{{ userId }}" 
                        data-data-center-id="{{ dataCenter.id }}"
                        data-action="leave"
                        {% if not story.reviewedByMe(dataCenter.id, userId) %}
                            style="display: none;"
                        {% endif %}
                    >
                        Leave
                    </button>
                    <button 
                        id="btn-reviewed"
                        class="btn btn-success btn-action"
                        data-story-id="{{ story.id }}" 
                        data-user-id="{{ userId }}" 
                        data-data-center-id="{{ dataCenter.id }}"
                        data-action="reviewed"
                        {% if story.reviewedByMe(dataCenter.id, userId) %}
                            style="display: none;"
                        {% endif %}
                    >
                        Reviewed
                    </button>
                    {% if story.reviewedByMe(dataCenter.id, userId) %}
                        
                    {% else %}
                        
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            
        </table>
    </div>
    {% endfor %}
</div>
<br>
<button class="btn btn-info" id="btn-summary">Summary</button>    
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        var modal;
        $('#btn-summary').click(function(e) {
            e.preventDefault();
            modal = $('#modal').dialog({
                modal: true,
                width: 700,
                height: 500,
                position: {
                    my: "top",
                    at: "top+50",
                    of: document
                },
            });
            $.ajax({
                url: "{{ path('summary') }}",
                method: "POST",
                dataType: "html",
                success: function (data) {
                    $('#modal-content').html(data);
                }
            });
        });
        
        $('#btn-publicar').click(function(e) {
            e.preventDefault();
            modal.dialog("close");
            
            $.ajax({
                url: "{{ path('summary') }}",
                method: "POST",
                dataType: "html",
                success: function (data) {
                    $.ajax({
                        url: "{{ path('ApiHCSendMessage') }}",
                        method: "POST",
                        data: {
                            "parameters": {
                                "color": "green",
                                "message": data,
                                "notify": false,
                                "message_format": "html"
                            }
                        },
                        dataType: "json",
                    });
                }
            });
            
                
        });
        
        setInterval(function(){
            $.ajax({
                url: "{{ path('statusStories') }}",
                method: "POST",
                dataType: "json",
                success: function (data) {
                    $('.review').html('0');
                    for(var propt in data){
                        var obj = data[propt];
                        for (var propt2 in obj) {
                            // using jquery selectors causes error (a jquery bug)
                            var span = document.getElementById('review_' + propt + '_' + propt2);
                            span.innerHTML = data[propt][propt2];
                        }
                    }
                }
            });
        }, {{ hipchat.refresh * 1000 }} );
        $( "#tabs" ).tabs();
        $('.btn-action').click(function(e){
            e.preventDefault();
            var button = $(this);
            button.hide();
            var payLoad = new Object();
            payLoad.storyId = $(this).data('story-id');
            payLoad.userId = $(this).data('user-id');
            payLoad.dataCenterId = $(this).data('data-center-id');
            payLoad.action = $(this).data('action');
            $.ajax({
                url: "{{ path('process') }}",
                method: "POST",
                data: payLoad,
                dataType: "json",
                success: function (data) {
                    button.prev().show();
                    button.next().show();
                    $.ajax({
                        url: "{{ path('reviews') }}",
                        method: "POST",
                        data: payLoad,
                        dataType: "json",
                        success: function (data) {
                            var color;
                            if (data.success) {
                                color = 'green';
                            } else {
                                color = 'red';
                            }
                            button.parent().parent().find('.review').html(data.n);
                            $.ajax({
                                url: "{{ path('ApiHCSendMessage') }}",
                                method: "POST",
                                data: {
                                    "parameters": {
                                        "color": color,
                                        "message": data.message,
                                        "notify": false,
                                        "message_format": "text"
                                    }
                                },
                                dataType: "json",
                                success: function (data) {
                                }
                            });
                        }
                    });
                }
            });
            
        });
    });
</script>
{% endblock %}
