{% extends 'ReleaseBundle:Default:base.html.twig' %}
{% block content %}
    <div id="projects_section">
        <table id="projects_tbl" class="table table-responsive table-hover">

        </table>
    </div>
    
    <div id="releases_section" style="display: none;">
        <table id="releases_tbl" class="table table-responsive table-hover">

        </table>
    </div>
    
    <div id="artifacts_section" style="display: none;">
        <table id="artifacts_tbl" class="table table-responsive table-hover table-bordered">

        </table>
        <button id="btn-send" class="btn btn-primary">Import from RallyDev</button>
        <br><br>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#btn-send').click(function(e) {
            var artifacts = new Array; 
            var releaseId = $(this).data('releaseid');
            $('input:checked').each(function(i, item){
                artifacts.push(item.value);
            });
            
            $.ajax({
                url: "{{ path('ApiRallyCreateArtifactsAndRelease') }}",
                method: "POST",
                dataType: "json",
                data: { 
                    releaseId: releaseId,
                    artifacts: artifacts
                },
                success: function (data) {
                    $(location).attr('href', '{{ path('home') }}'); 
                }
            });
        });
        $('body').on('click', '.release_lnk', function (){
            $('#releases_section').hide();
            var releaseId = $(this).data('release-id');
            $('#btn-send').attr('data-releaseId', releaseId);
            var nArtifacts=1;
            $.ajax({
                url: "{{ path('ApiRallyArtifactsByRelease') }}",
                method: "GET",
                dataType: "json",
                data: { releaseId: releaseId },
                success: function (data) {
                    $('#artifacts_section').show();
                    $(data.TestSets).each(function(i, item){
                        $('#artifacts_tbl').append(
                            $('<tr>')
                            .append(
                                $('<td>').html(nArtifacts++)
                            )
                            .append(
                                $('<td>').html($('<input>')
                                    .attr('type','checkbox')
                                    .attr('checked', true)
                                    .val(item.FormattedID)
                                )
                            ).append(
                                $('<td>').html(item.FormattedID)
                            ).append(
                                $('<td>').html(item._refObjectName)
                            ).append(
                                $('<td>').html(item.Owner._refObjectName)
                            )
                        );
                    });
                    $(data.Defects).each(function(i, item){
                        $('#artifacts_tbl').append(
                            $('<tr>')
                            .append(
                                $('<td>').html(nArtifacts++)
                            )
                            .append(
                                $('<td>').html($('<input>')
                                    .attr('type','checkbox')
                                    .attr('checked', true)
                                    .val(item.FormattedID)
                                )
                            ).append(
                                $('<td>').html(item.FormattedID)
                            ).append(
                                $('<td>').html(item._refObjectName)
                            ).append(
                                $('<td>').html(item.Owner._refObjectName)
                            ) 
                        );
                    });
                    $(data.Stories).each(function(i, item){
                        $('#artifacts_tbl').append(
                            $('<tr>')
                            .append(
                                $('<td>').html(nArtifacts++)
                            )
                            .append(
                                $('<td>').html($('<input>')
                                    .attr('type','checkbox')
                                    .attr('checked', true)
                                    .val(item.FormattedID)
                                )
                            ).append(
                                $('<td>').html(item.FormattedID)
                            ).append(
                                $('<td>').html(item._refObjectName)
                            ).append(
                                $('<td>').html(item.Owner._refObjectName)
                            )
                        );
                    });
                }
            });

            
        });
        $('body').on('click', '.project_lnk', function (){
            $('#projects_section').hide();
            var projectID = $(this).data('project-id');
            var projectUUID = $(this).data('project-uuid');

            $.ajax({
                url: "{{ path('ApiRallyReleases') }}",
                method: "GET",
                dataType: "json",
                data: {projectId: projectUUID},
                success: function (data) {
                    $('#releases_section').show();
                    $(data.QueryResult.Results).each(function(i, item){
                        var releaseDate = new Date(item.ReleaseDate);
                        $('#releases_tbl').append(
                            $('<tr>')
                            .append(
                                $('<td>').html(releaseDate.toLocaleDateString())
                            ).append(
                                $('<td>').html($('<a>')
                                    .addClass('release_lnk')
                                    .attr('data-release-id', item.ObjectUUID)
                                    .attr('href', '#')
                                    .html(item.Name)
                                )
                            )    
                        );
                    });
                }
            });
        });
        $.ajax({
            url: "{{ path('ApiRallyProjects') }}",
            method: "GET",
            dataType: "json",
            success: function (data) {
                $(data).each(function(i, item){
                    $('#projects_tbl').append(
                        $('<tr>')
                        .append(
                            $('<td>').html($('<a>')
                                .addClass('project_lnk')
                                .attr('data-project-id', item.objectID)
                                .attr('data-project-uuid', item.objectUUID)
                                .attr('href', '#')
                                .html(item.name)
                            )
                        )
                    )
                });
            }
        });
        
        /**/
        
    });
</script>
{% endblock %}
