    <table border="1" class="table table-bordered table-striped" >
        <tr>
            <th colspan="{{ dataCenters | length + 1 }}" valign="bottom">
                Summary: {{ release }}
            </th>
        </tr>
        <tr>
            <th colspan="{{ dataCenters | length + 1 }}" valign="bottom">
                &nbsp;
            </th>
        </tr>
        <tr>
            <th rowspan="2" valign="bottom"></th>
        </tr>
        <tr>
            {% for dataCenter in dataCenters%}
                <th>{{ dataCenter.name }}</th>
            {% endfor %}
        </tr>
        {% for story in stories %}
        <tr>
            <td>
                <strong>{{ story.code }}</strong>
            </td>
            {% for dataCenter in dataCenters%}
            <td>
                {{story.reviews(dataCenter.id)}}
            </td>
            {% endfor %}
            
        </tr>
        {% endfor %}
    </table>
